<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:a4j="http://richfaces.org/a4j"
	  xmlns:rich="http://richfaces.org/rich"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:h="http://java.sun.com/jsf/html">
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders input and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">
	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<h:outputText value="(Institutions found:"/>
			<h:outputText value="#{suggestInstitution.firstOnPage}" id="#{id}showStartCount"/>
			<h:outputText
					value="-#{suggestInstitution.foundCount lt (suggestInstitution.firstOnPage + suggestInstitution.resultsPerPage) ? suggestInstitution.foundCount : (suggestInstitution.firstOnPage + suggestInstitution.resultsPerPage)}"
					id="#{id}showCount"/>
			/
			<h:outputText value="#{suggestInstitution.foundCount}" id="#{id}foundCount"/>
			- page by '&gt;')

			<h:inputText
					onblur="validateInputText(this,#{empty required ? 'false' : required},#{empty minlength ? '0' : minlength}, #{empty maxlength ? '255' : maxlength}, #{empty email ? 'false' : email}, #{empty pattern ? '\'\'' : pattern}, '#{text['client.validator.text']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');#{onblur}"
					rendered="#{empty rendered ? 'true' : rendered}"
					required="#{empty required ? 'false' : required}"
					id="#{id}"
					maxlength="#{empty maxlength ? '255' : maxlength}"
					size="#{empty size ? '20' : size}"
					title="#{empty title ? label : title}"
					value="#{value}">

				<rich:suggestionbox id="suggestionBox#{id}"
									for="#{id}"
									tokens=""
									suggestionAction="#{suggestInstitution.institutions}"
									var="result"
									fetchValue="#{result.name}"
									rows="#{suggestInstitution.resultsPerPage}"
									first="#{suggestInstitution.resultStartPosition}"
									minChars="#{suggestInstitution.minChars}"
									border="1"
									status="#{id}lookupInstitution"
									width="350"
									height="200"
									shadowDepth="3"
									shadowOpacity="1"
									cellpadding="1"
									requestDelay="500"
									ignoreDupResponses="true"
									nothingLabel="No suggestions for institution"
									reRender="#{id}showStartCount,#{id}showCount,#{id}foundCount"
									columnClasses="center">
					<!--
					<a4j:support id="supporSelect#{id}" event="onselect"
					ajaxSingle="true"
					status="#{id}lookupInstitution"
					reRender="#{id}selectedabbreviation"
					   action="#{h.quickAdd.setExistingPerson(result)}" eventsQueue="default"></a4j:support>
					 -->
					<ui:insert name="onselect">

						<a4j:support id="supporSelect#{id}" event="onselect"
									 ajaxSingle="true"
									 status="#{id}lookupInstitution"
									 action="#{bean.setRealInstitution(result)}" eventsQueue="default">
						</a4j:support>
						<!--
															reRender="#{id}selectedabbreviation"
						 -->

					</ui:insert>

					<h:column>
						<h:graphicImage id="country"
										value="/img/flags/#{util:toLowerCase(result.mailingAddress.country.a2)}.gif"
										title="#{result.mailingAddress.country.name}"
										alt="#{result.mailingAddress.country.name}"/>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="institution"/>
						</f:facet>
						<h:outputText value="#{result.name}"/>
					</h:column>

				</rich:suggestionbox>

			</h:inputText>

			<util:quickStatus id="#{id}lookupInstitution"/>
		</s:decorate>
		<!--
		<rich:suggestionbox id="suggestionBox#{id}"
			for="#{id}"
			tokens=""
			suggestionAction="#{suggestInstitution.institutions}"
			var="result"
			fetchValue="#{result.name}"
			rows="#{suggestInstitution.maxResults}"
			first="#{suggestInstitution.intFirst}"
			minChars="#{suggestInstitution.minChars}"
			border="1"
			status="#{id}lookupInstitution"
			width="350"
			height="200"
			shadowDepth="3"
			shadowOpacity="1"
			cellpadding="1"
			requestDelay="500"
			ignoreDupResponses="true"
			nothingLabel="No suggestions for institution"
			reRender="#{id}Found"
			columnClasses="center">

			<h:column>
				<h:graphicImage id="country"
					value="/img/flags/#{util:toLowerCase(result.mailingAddress.country.a2)}.gif"
					title="#{result.mailingAddress.country.name}"
				alt="#{result.mailingAddress.country.name}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="institution"/>
				</f:facet>
				<h:outputText value="#{result.name}" />
			</h:column>

		</rich:suggestionbox>
		 -->
	</ui:define>
</ui:composition>
</body>

</html>
