<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
		>
<body>
<div>
	Statistics
</div>

<ui:composition>
	<h:outputLink id="link#{id}" styleClass="#{empty styleClass ? 'popup' : styleClass} link " destination="#{value}"
				  rendered="#{(not empty value and not empty label) and (empty rendered ? true : rendered)}"
				  target="_blank" title="Link to #{title}"
				  disabled="#{empty disabled ? false : disabled}"
				  onclick="#{(value eq '') or (value eq 'http://') ? 'alert(\" No content available
	\");return false;':''}"
	value="#{util:correctUrl(value)}">#{empty label ? value : label}
</h:outputLink>
</ui:composition>
</body>
		</html>
