<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:s="http://jboss.com/products/seam/taglib"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
		>

	<ui:decorate template="#{template}">
		<ui:param name="rendered" value="#{ajaxSorted}"/>
		<f:facet name="header">
			<ui:include src="/layout/sort.xhtml">
				<ui:param name="entityList" value="#{entityList}"/>
				<ui:param name="propertyLabel" value="#{propertyLabel}"/>
				<ui:param name="propertyPath" value="#{propertyPath}"/>
			</ui:include>
		</f:facet>
		<s:link view="#{view}"
				value="#{value}"
				propagation="none"
				disabled="#{!s:hasRole('admin') and !s:hasRole('editor') and !s:hasRole('reader')}">
			<f:param name="#{field}Id"
					 value="#{param}"/>
		</s:link>
	</ui:decorate>

</ui:composition>
